.translate-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.input-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.language-select {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  margin: 9px;
}

.translate-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.translate-button:hover {
  background-color: #0056b3;
}

.output-text {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}
